.bg-unrika-kuning{
    background-color: #F4C610;
}
.bg-unrika-ungu{
    background-color: #2A1570;
}

.nav-top
{
    height: 1.8em;    
    padding-bottom: 2.3em;
}

.nav-top a 
{
    color: #f9f9f9;
    font-size: 0.85em;
    font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

#nav-bottom a
{
   color: #232323;
   font-family:  'Raleway', Helvetica, Arial, sans-serif;
}

.garis-logo
{
    height: 1em;
    border-left: 6px  #2A1570;
}
